* {
    margin: 0;
}

body {
    background-color: #f7f7f7;
}


/* 网站头部css */

header {
    height: 154px;
}


/* 标题栏css */

header .title {
    height: 102px;
    background-color: rgb(213, 100, 100);
    line-height: 102px;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
}


/* 标题里面的小图标 */

#图层1 {
    height: 40px;
}

导航栏 header nav {
    height: 52px;
    background-color: rgb(70, 70, 70);
}


/* 确定版心为凝胶布局 */

.middle {
    width: 1650px;
    margin: 0 auto;
}


/* 实现导航栏选择变色效果 */

nav a {
    display: inline-block;
    text-decoration: none;
    height: 52px;
    width: 412.5px;
    text-align: center;
    line-height: 52px;
    color: white;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(70, 70, 70);
}

nav a:hover {
    background-color: #ff7000;
}

a .jianjie {
    margin: left 600px;
}


/* 展示背景图片 */

.contect {
    height: 750px;
    width: 1650px;
    margin: 0 auto;
    background: url(image/内容.jpg);
    background-size: 1650px 750px;
    background-repeat: no-repeat;
    line-height: 750px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Courier', 'Courier New', 'YaHei';
}

footer {
    /* 页脚的设置 */
    height: 105px;
    background-color: rgb(70, 70, 70);
}


/* 视觉上形成分割线 */

#split {
    height: 5px;
    background-color: rgb(213, 100, 100);
}

footer .middle .Part {
    float: left;
    width: 550px;
    height: 100px;
    color: white;
}


/* 指定页尾中显示信息的位置相关设置 */

#QQ {
    height: 100px;
    margin-left: 150px;
}

#infor {
    margin-left: 50px;
    display: inline-block;
    height: 100px;
}

#infor th {
    text-align: left;
}

#touXiang {
    height: 100px;
    width: 550px;
    text-align: center;
    font-size: 12px;
}

#touxiang {
    height: 80px;
}

#Mingzi {
    height: 20px
}

#PartThree {
    text-align: center;
    line-height: 100px;
    text-align: center;
}